@charset "UTF-8";

@import "https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css";
/*
    Alexiva Bakery
    By: @davdevelopment
    Jul 2021
    La Crea Factory
*/

@font-face {
    font-family: 'amithenregular';
    src: url('./fonts/amithen-webfont.eot');
    src: url('./fonts/amithen-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/amithen-webfont.woff2') format('woff2'),
         url('./fonts/amithen-webfont.woff') format('woff'),
         url('./fonts/amithen-webfont.svg#amithenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --gray-middle: #D1CFCF;
    --gray-clear: #EFEFEF;
    --gray-dark: #666666;
    --orange-middle: #ffa803;
    --orange-dark: #ffa803;
}

.title {font-family: 'amithenregular';}

/* HEADER */
header {position: fixed; top: 0; left: 0; transition: all .3s linear; width: 100%; z-index: 2;}
header.active {box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1); background-color: #fff;}
header.active .navbar-nav .menu-item a {color: var(--gray-dark);}
.navbar-nav .menu-item {padding-right: 30px;}
.navbar-nav .menu-item:last-child {padding-right: 0;}
.navbar-nav .menu-item a {font-weight: bold; color: #fff; padding: 5px 25px; text-decoration: none;}
.navbar-nav .menu-item:last-child a {background: var(--orange-middle); color: #fff !important; border-radius: 50px;}

/* BANNERS */
.wrap-banner {position: relative;}
.text-over-banner {display: flex; position: absolute; align-items: center; height: 100%; left: 0; top: 0; width: 100%;}
.text-over-banner h2 {color: #fff; font-size: 5em; width: 100%;}
.carousel-indicators [data-bs-target] {border: 3px solid #fff; height: 12px; margin: 0 7px; opacity: 1; width: 12px; border-radius: 50%;}
.carousel-indicators [data-bs-target].active {background: transparent;}

.wrap-social-media {flex-flow: column; list-style: none; position: absolute; bottom: 0; right: 25px;z-index: 123123;}
.wrap-social-media li {margin-bottom: 25px;}

/* PRODUCTS */
.wrap-products .title {color: var(--gray-dark); font-size: 3em;}
.wrap-products h3 {color: var(--orange-dark);}
.wrap-products p {color: var(--gray-dark);}
.single-product,
.last-product {display: flex; appearance: none; background-color: transparent; outline: none; border: none; flex-flow: column;align-items: center; cursor: pointer;}
.single-product > div,
.last-product > div {border-radius: 50%; position: relative;}
.last-product > div {overflow:visible;}
.last-product > div:before {border-radius: 50%; background-color: var(--orange-dark); content: ''; height: 100%; position: absolute; top: 20px; left: 0; width: 100%;}