@charset "UTF-8";

/*
    Alexiva Bakery
    By: @davdevelopment
    Jul 2021
    La Crea Factory
*/

:root {
    --gray-middle: #D1CFCF;
    --gray-clear: #EFEFEF;
    --gray-dark: #666666;
    --orange-middle: #ffa803;
    --orange-dark: #ffa803;
}

/* HEADER */
header {position: fixed; top: 0; left: 0; width: 100%; z-index: 23123;}
.navbar-nav .menu-item {padding-right: 30px;}
.navbar-nav .menu-item:last-child {padding-right: 0;}
.navbar-nav .menu-item a {font-weight: bold; color: #fff; padding: 5px 25px; text-decoration: none;}
.navbar-nav .menu-item:last-child a {background: var(--orange-middle); border-radius: 50px;}